body {
  font-family: 'Coiny', cursive;
  background-color: #F5F5F5;
  margin: 0;
}

button {

    font-family: 'Coiny', cursive;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px;
}
.buttons {
justify-content: center;
}

div {
  display: flex;
}
 h1 {
   display: flex;
   margin: 20px auto;
   margin-bottom: 0;
   font-weight: normal;
   justify-content: center;
 }

#canvas {
  margin: 0 auto;
  display: flex;
  width: 90%;
  max-width: 900px;
  height: 100%;
}
.canvas {
  height: auto;
  position: relative;
}

#welcome {
  position: absolute;
  align-items: center;
  width: 100%;
  display: flex;
  left: 25%;
  top: 40%;
  font-size: 25px;
  max-width: 50%;
  z-index: 9001;
}

.controls {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}
#p1-controls{
  margin-right: 10%;
}

#p1-controls, #p2-controls {
  visibility: hidden;
  font-family: sans-serif;
}

h3, i {
  margin: 0;
  display: flex;
  padding: 5px 10px;
  border: 3px solid black;
  border-radius: 4px;
}

.jump {
  position: relative;
  top: -40px;
}

p {
  margin: 0 20px 0 0;
  font-family: 'Coiny', cursive;
}

a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
